.services-wrapper{
    width: 70%;
    margin-bottom: 30px;
}

.services-wrapper h1{
    font-size: 3rem;
    line-height: 20px;
}

.services-wrapper .row{
    display: flex;
}

.services-wrapper .row .column{
    flex: 30%;
    padding-left: 20px;
    padding-right: 20px;
}

.services-wrapper .row .column .serv-card{
    width: 100%;
    height: 250px;
    overflow: hidden !important;
    display: block;
} 

.services-wrapper .row .column .serv-card .serv-title{
    display: flex;
}

.services-wrapper .row .column .serv-card .serv-title h2{
    align-items: flex-start;
}

.services-wrapper .row .column .serv-card .serv-content{
    display: flex;
}

.services-wrapper .row .column .serv-card .serv-content h5 {
    align-items: flex-start;
    line-height: 1.5rem;
    font-size: 15px;
    color: grey;
}