.work-wrapper{
    margin-bottom: 30px;
}

.svgs img{
    padding-left: 40px;
    padding-right: 40px;
    height: 50px;
}

.filter-grey {
    filter: invert(46%) sepia(54%) saturate(0%) hue-rotate(150deg) brightness(98%) contrast(94%);
}