.header-wrapper {
    width: 80vw;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading-wrapper .first {
            font-size: 1.5rem;
            text-align: center;
            line-height: 30px;
            font-weight: bold;
}

.heading-more-info .second {
    font-size: 1.2rem;
    text-align: center;
    line-height: 20px;
    font-weight: 200;
}

.heading-more-info .second .heavy {
    font-weight: bold;
}

/* Extra small small devices (phones, 600px and down) */
@media only screen and (max-width: 400px) {
    .header-wrapper {
        width: 95%;
    }
    .header-wrapper .first {
        font-size: 1.7rem;
        line-height: 30px;
    }
    .heading-more-info .second {
        font-size: 1rem;
        line-height: 20px;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 400px) {
    .header-wrapper {
        width: 95%;
    }
    .header-wrapper .first{
        font-size: 1.8rem;
        line-height: 30px;
    }
    .heading-more-info .second {
        font-size: 1rem;
        line-height: 20px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (min-width: 601px) {
    .header-wrapper {
        width: 85%;
    }
    .header-wrapper .first {
        font-size: 2.5rem;
        line-height: 40px;
    }
    .heading-more-info .second {
        font-size: 1.4rem;
        line-height: 30px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (min-width: 768px) {
    .header-wrapper {
        width: 80%;
    }
    .header-wrapper .first {
        font-size: 3rem;
        line-height: 45px;
    }
    .heading-more-info .second {
        font-size: 1.5rem;
        line-height: 30px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media screen and (min-width: 992px) {
    .header-wrapper .first {
        font-size: 3.5rem;
        line-height: 55px;
    }
    .heading-more-info .second {
        font-size: 1.5rem;
        line-height: 30px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
    .header-wrapper .first {
        font-size: 4rem;
        line-height: 60px;
    }
    .heading-more-info .second {
        font-size: 1.5rem;
        line-height: 30px;
    }
}

