.header-wrapper {
    width: 80vw;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-wrapper h2 {
        font-size: 2rem;
        text-align: center;
        line-height: 10px;
        font-weight: 700;
}

        /* @include media(">=phone", "<lgphone") {
            font-size: 14px;
        }

        @include media(">=lgphone", "<tablet") {
            font-size: 16px;
        }

        @include media(">=tablet", "<desktop") {
            font-size: 16px;
        } */

.heading-wrapper h1 {
            font-size: 4rem;
            text-align: center;
            line-height: 20px;
            font-weight: bold;
}

            /* @include media(">=phone", "<lgphone") {
                font-size: 1.5rem;
                line-height: 10px;
            }

            @include media(">=lgphone", "<tablet") {
                font-size: 1.5rem;
                line-height: 10px;
            }

            @include media(">=tablet", "<desktop") {
                font-size: 2.5rem;
            } */
        
    

.heading-wrapper p {
        width: 50%;
        text-align: center;
        overflow: hidden;
}

        /* @include media(">=phone", "<lgphone") {
            font-size: 12px;
            width: 100%;
        }

        @include media(">=lgphone", "<tablet") {
            font-size: 12px;
            width: 100%;
        }

        @include media(">=tablet", "<desktop") {
            font-size: 14px;
            width: 100%;
        } */

.heading-more-info h3 {
    font-size: 1.5rem;
    text-align: center;
    line-height: 10px;
    font-weight: 200;
}

.heading-more-info h3 .heavy{
    font-weight: bold;
}