.navbar-wrapper {
    width: 80vw;
    margin-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-wrapper .name {
        font-weight: 600;
}

.navbar-wrapper .links-wrapper button {
            text-decoration: none;
            padding: 30px;
            transition: all 0.2s ease-in-out;
            font-size: 15px;
            background-color: transparent;
            outline: none;
            border: 0px;
            cursor: pointer;
            color: grey;

            /* &:hover {
                opacity: 1;
            } */
        }

        /* .active {
            color: black;
        } */

.email-link {
    font-size: 1.5rem;
    color: black;
}