/* Style the accordion section */
.accordion__section {
    display: flex;
    flex-direction: column;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: white;
    color: #444;
    cursor: pointer;
    padding: 5px;
    display: flex;
    align-items: left;
    border: none;
    outline: none;
    transition: background-color 0.6s ease;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion:hover,
.active {
    background-color: white;
}

/* Style the accordion content title */
.accordion__title {
    font-weight: bold;
    font-size: 30px;
    line-height: 2rem;
    text-align: left;
}

/* Style the accordion chevron icon */
.accordion__icon {
    margin-left: auto;
    transition: transform 0.6s ease;
    margin-top: 40px;
}

/* Style to rotate icon when state is active */
.rotate {
    transform: rotate(90deg);
}

/* Style the accordion content panel. Note: hidden by default */
.accordion__content {
    background-color: white;
    overflow: hidden;
    transition: max-height 0.6s ease;
    text-align: left;
}

/* Style the accordion content text */
.accordion__text {
    font-weight: 100;
    font-size: 20px;
    padding: 10px;
}

/* Extra small small devices (phones, 600px and down) */
@media only screen and (max-width: 400px) {
    .accordion__title {
        font-size: 1rem;
        line-height: 20px;
    }
    .accordion__icon {
        margin-top: 18px;
    }
    .accordion__text {
        font-size: 15px;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 400px) {
    .accordion__title {
        font-size: 1.2rem;
        line-height: 20px;
    }

    .accordion__icon {
        margin-top: 20px;
    }
    .accordion__content {
        height: 100%;
    }

    .accordion__text {
        font-size: 17px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (min-width: 600px) {
    .accordion__title {
        font-size: 1.5rem;
        line-height: 20px;
    }

    .accordion__icon {
        margin-top: 18px;
    }

    .accordion__text {
        font-size: 20px;
    }
}