.card {
    width: 100%;
    height: 250px;
    overflow: hidden !important;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* box-shadow: 0 2px 2px 0 rgba(43, 46, 207, 0.1) */
}
 