.footer-container {
    width: 80vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
    /* display: flex;
    flex-direction: column; */
    /* align-items: center; */
}

.icons-email{
    display: grid;
    grid-template-columns: '1fr 1fr'
}

/* .footer-container h1 {
        font-size: 3rem;
        line-height: 20px;
    } */

/* .footer-container h2 {
        font-size: 1.5rem;
        overflow: hidden;
} */

        /* @include media(">=phone", "<lgphone") {
            display: none;
        }

        @include media(">=lgphone", "<tablet") {
            font-size: 14px;
        }

        @include media(">=tablet", "<desktop") {
            font-size: 1.2rem;
        } */

.footer-container .email-link {
        font-size: 1.5rem;
        color: black;
    }

.footer-container .social-icons {
        margin-top: 20px;
}

.footer-container .social-icons img {
            height: 2rem;
            margin: 10px;
        }

.footer-container span {
        margin-top: 10px;
    }

.footer-container span icon {
        color: red;
    }

.line{
    width: 100%;
    border-bottom: 1px solid #f2f7f7;
}