.work-I-do-wrapper {
    width: 70%;
    margin-bottom: 30px;

}

.work-I-do-wrapper h1 {
    text-align: left;
    /* display: flex; */
    /* align-items: flex-start; */
    font-size: 3rem;
    line-height: 20px;
}

.row-work{
    display: grid;
    margin-top: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

/* .row-work .column-work{
    grid-column: auto;
} */


.work-content{
    display: block;
}

.work-title{
    text-align: left;
    font-weight: bold;
}

.work-desc{
    font-weight: 100;
    text-align: left;
}

/* Extra small small devices (phones, 600px and down) */
@media only screen and (max-width: 400px) {
    .work-I-do-wrapper {
        width: 95%;
    }
    .work-I-do-wrapper h1 {
        font-size: 1.7rem;
        line-height: 10px;
    }
    .row-work {
        grid-template-columns: 1fr;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 400px) {
    .work-I-do-wrapper {
        width: 90%;
    }
    .work-I-do-wrapper h1 {
        font-size: 1.8rem;
        line-height: 10px;
    }
    .row-work {
        grid-template-columns: 1fr;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (min-width: 600px) {
    .work-I-do-wrapper {
        width: 80%;
    }
    .work-I-do-wrapper h1 {
        font-size: 2.5rem;
        line-height: 10px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (min-width: 768px) {
    .work-I-do-wrapper {
        width: 70%;
    }
    .work-I-do-wrapper h1 {
        font-size: 3rem;
        line-height: 10px;
    }
    .row-work {
        grid-template-columns: 1fr 1fr;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media screen and (min-width: 1200px) {

} */