.work-I-do-wrapper {
    width: 70%;
    margin-bottom: 30px;

}

.work-I-do-wrapper h1 {
    display: flex;
    align-items: flex-start;
    font-size: 3rem;
    line-height: 20px;
}

.row-work{
    display: grid;
    margin-top: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

/* .row-work .column-work{
    grid-column: auto;
} */


.work-content{
    display: block;
}

.work-title{
    display: flex;
    align-items: flex-start;
    text-align: left;
}

.work-desc{
    display: flex;
    align-items: flex-start;
    font-weight: 100;
    text-align: left;
}